body {
  margin: 0;
}

/*--Global styling--*/
.navbar {
  position: absolute;
  bottom: 0;
  width: 100vw;
}

/*--Global styling--*/

/*--Routines page--*/
.routine-wrapper {
  height: 100vh;
  position: relative;
}

.create-routine-button {
  position: fixed;
  right: 0%;
}

.create-routine-form {
  display: flex;
  flex-direction: column;
  padding: 10%;
  align-items: center;
}

.create-routine-label {
  padding: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.individual-routine {
  width: 100%;
  background-color: white;
  font-size: 1.5rem;
}

.blank-routines-page {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  padding-top: 33%;
  font-size: 1.5rem;
}
/*--Routines page--*/