body {
  margin: 0;
  height: 100vh;
}

/*--Global styling--*/
.navbar {
  position: sticky;
  bottom: 0;
  width: 100vw;
}

/*--Global styling--*/

/*--Routines page--*/
.routine-wrapper {
  min-height: 90vh;
  height: auto;
  position: relative;
}

.create-routine-form {
  display: flex;
  flex-direction: column;
  padding: 10%;
  align-items: center;
}

.create-routine-label {
  padding: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.individual-routine {
  width: 100%;
  background-color: white;
  font-size: 1.5rem;
}

.blank-routines-page {
  display: flex;
  height: auto;
  width: 100vw;
  justify-content: center;
  align-items: flex-start;
  margin-top: 33%;
  font-size: 1.5rem;
}
/*--Routines page--*/

/*--Home page--*/
.current-routine-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
}

.current-routine-label {
  font-size: 2rem;
}

.exercise-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 1fr;
  padding: 1% 5%;
  place-items: center;
  position: relative;
}

.exercise-table {
  margin-bottom: 2.5%;
}

.exercise-table button {
  border-radius: 50%;
  border: transparent;
  font-size: 1.3rem;
  height: 2rem;
  width: 2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.exercise-name {
  font-size: 1.5rem;
}

.exercise-grid input[type='number']{
  width: 2rem;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid black;
}

.exercise-grid input[type='number']:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.349);
}

.set-checkmark {
  color: black;
  opacity: 0.3;
}

.finished {
  color: #32CD32;
  opacity: 1;
}

.faded {
  color: gray;
}

.individual-workout-history {
  padding: 5%;
  margin: 2.5%;
}

.home-wrapper {
  min-height: 90vh;
  height: 200%;
}

/*--Home page--*/

/*--Tracking page--*/
.tracking-wrapper {
  min-height: 90vh;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2.5%;
  gap: 2.5%;
}

.tracker-card {
  width: auto;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2%;
}

.tracker-card input[type='number']{
  width: 50%;
  height: 1.5rem;
  font-size: 1.1rem;
}

/*--Tracking page--*/